
    <!-- first_container -->
    <div class="first_container">
      <div class='container my-5'>
        <div class='row justify-content-center'>
          <h1>PARTY ANIMALS</h1>
        </div>
        <div class='row justify-content-center'>
          <h3>- Let's exchange languages and cultures -</h3>
        </div>
        <div class='row justify-content-center mt-4'>
          <button type="button" class="btn btn-dark signup_buttton"><%= link_to 'Sign Up', new_user_registration_path, class: 'button_letter' %></button>
        </div>
      </div>
    </div>
    <!-- second_container -->
    <div class="second__container">
      <div class="container-fluid">
        <div class='row'>
          <div class='col-lg-4 col-md-4 col-sm-12 col-12 p-0'>
            <div class="info">
              <div class="image_container">
                <%= image_tag "friends.jpg", class: 'img-fluid' %>
              </div>
              <h3>Making new friends from all over the world!</h3>
              <p>
               You can meet people from all over the world and grow your community. There are numerous parties to choose from, so you can find the best international party for your needs.
              </p>
            </div>
          </div>
          <div class='col-lg-4 col-md-4 col-sm-12 col-12 p-0'>
            <div class="info">
              <div class="image_container">
                <%= image_tag "startup-594090__480.jpg", class: 'img-fluid' %>
              </div>
              <h3>Finding your langauge exchange partner!</h3>
              <p>
                If you want to learn another language, you can find language exchange partners. Are you a total newcomer? Not to worry. You can find a partner who speaks the same language as you.
              </p>
            </div>
          </div>
          <div class='col-lg-4 col-md-4 col-sm-12 col-12 p-0'>
            <div class="info">
              <div class="image_container">
                <%= image_tag "wine-6174460__480.jpg", class: 'img-fluid' %>
              </div>
              <h3>Having international parties by your own!</h3>
              <p>
                Why not throw international parties on your own if you enjoy having parties and communicating with people? You can decide everything from the start, such as the main purpose of the party and so on.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- third_container -->
    <div class="title">
      <h1>3 steps to do</h1>
    </div>
    <div class="third_container m-0">
      <div class="container">
        <div class='row'>
          <div class='col-lg-4 col-md-12 mt-3'>
            <div class="step">
              <div class='container'>
                <div class="row">
                  <i class="fas fa-user-plus fa-2x"></i>
                </div>
                <div class='row mt-3'>
                  <h2>Sign up</h2>
                </div>
                <div class='row'>
                  <p>
                   There is no need to fill out all of the information. All you have to do is fill out your name and email address. If you want to log out, you can do so quickly.
                  </p>
                </div>
                <div class='row'>
                  <div class='circle'>
                    <div class='col circle_one'>
                      <p>1</p>
                      <span>────────────────</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-lg-4 col-md-12 mt-3'>
            <div class="step">
              <div class='container'>
                <div class="row">
                  <i class="fas fa-search fa-2x"></i>
                </div>
                <div class='row mt-3'>
                  <h2>Search parties</h2>
                </div>
                <div class='row'>
                  <p>
                   You can search international parties based on your goals, such as learning other languages, or having fun and making new friends and so on.
                  </p>
                </div>
                <div class='row'>
                  <div class='circle'>
                    <div class='col circle_one'>
                      <p>2</p>
                      <span>────────────────</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-lg-4 col-md-12 mt-3'>
            <div class="step">
              <div class='container'>
                <div class="row">
                  <i class="fas fa-paper-plane fa-2x mt-"></i>
                </div>
                <div class='row mt-3'>
                  <h2>Apply</h2>
                </div>
                <div class='row'>
                  <p>
                    When you find a party that interests you, you can apply for it by clicking the button. Of course, you can always cancel if you change your mind.
                  </p>
                </div>
                <div class='row'>
                  <div class='circle'>
                    <div class='col circle_one'>
                      <p>3</p>
                      <span>────────────────</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       <div class='row justify-content-center my-5'>
          <button type="button" class="btn btn-outline-dark signup_buttton"><%= link_to 'Sign Up', new_user_registration_path, class: 'button_letter_second' %></button>
        </div>
      </div>
    </div>

    <!-- FAQ-WRAPPER -->
    <div class="faq_wrapper">
      <div class='container mx-5'>
        <div class='row justify-content-center'>
          <div class='col-12 p-0 m-0'>
            <ul class="faq-list">
              <h1>FAQ</h1>
              <li class="faq-list-item">
                <h3 class="question">Do I need to pay to use this app?</h3>
                <span>＋</span>
                <div class="answer">
                  <p>It's free app, so you don't need to pay.</p>
                </div>
              </li>
              <li class="faq-list-item">
                <h3 class="question">
                  I want to talk with forigners and make friends, but I can't speak
                  other languages at all. Is it alright?
                </h3>
                <span>＋</span>
                <div class="answer">
                  <p>
                    Usually, there are some forigners who can speak Japanese, and also
                    you can choose parties for beginner from categories.
                  </p>
                </div>
              </li>
              <li class="faq-list-item">
                <h3 class="question">
                  Once I apply for events, I cannot cancel it?
                </h3>
                <span>＋</span>
                <div class="answer">
                  <p>You can cancel it whenever you want if you chnage your mind.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
